@import "@picocss/pico/css/pico.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
header {
  height: 4rem;
  font-size: medium;
}

nav {
  height: 4rem;
}

  main {
    flex: 1;
    min-height: calc(100vh - 6rem);
  }

  
  footer {
    position: relative;
    background-color: var(--pico-primary-background);
    color: var(--pico-primary-inverse);
    height: 2rem;
    text-align: center;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .viewport {
    max-width: clamp(20rem, 50%, 40rem);
    margin: auto;
  }



  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
}


.profile img {
    border-radius: 50%;
    border: 1px solid var(--pico-secondary);

}

button {
  font-size: medium;
}

.content {
  padding: 3rem 0;
}


.center {
  text-align: center;
}

